
box.audio-popup {
    background: rgba($background, .7);
    padding: 8px;
    margin-right: 6px;
    border-radius: 16px;
    border: .5px solid rgba($foreground, .3);
}

.audio-popup .separator {
    box-shadow: 0 0 0 1px darken($color: $foreground, $amount: 25);
    margin: 4px 0;
    border-radius: 1px;
}

.audio-popup .output-slider {
    label {
        margin-left: 18px;
        color: $background;
    }
}

.audio-popup .source-slider {
    label {
        margin-left: 18px;
        color: $background;
    }
}
