@keyframes workspace-pick-attention { 
    50% {
        background: @color4;
        padding: 0 18px;
    }

    60% {
        background: @color1;
    }

    80% {
        background: @color4;
    }

    100% {
        background: @color1;
    }
}
