
@import "../../.cache/wal/colors-wlogout.css";


* {
    all: unset;
	background-image: none;
    background-repeat: no-repeat;
    transition: 100ms ease-in-out;
}

window {
    background: transparent;
}

button {
    border-radius: 16px;
    background-position: center 40%;
	background-size: 35%;
    margin: 0 6px;
    font-size: 1.25em;
    font-weight: 700;
}

window > * > * {
    padding: 140px 60px;
}

button:first-child {
    margin-right: 6px;
}

button:last-child {
    margin-left: 6px;
}

button:focus,
button:hover {
	background-color: shade(@color1, .75);
    background-size: 40%;
    background-position: center;
}

button:focus:hover {
    background-color: @color2;
}

button:active {
    background-color: @color1;
}

button > label {
    font-size: 1.8em;
    color: transparent;
}

button:hover > label,
button:focus > label {
    color: @foreground;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
