@use "sass:color";
@use "./material-colors";
@use "./functions";

$bg-primary: functions.toRGB(color.adjust($color: material-colors.$background, $lightness: +20%));
$bg-secondary: functions.toRGB(color.adjust($color: material-colors.$background, $lightness: +30%));
$bg-tertiary: functions.toRGB(color.adjust($color: $bg-secondary, $lightness: 10%));
$bg-light: material-colors.$on_background;
$bg-translucent: functions.toRGB(color.change($color: $bg-primary, $alpha: 75%));
$bg-translucent-secondary: functions.toRGB(color.change($color: $bg-translucent, $alpha: 78%));
$fg-primary: material-colors.$on_background;
$fg-light: $bg-primary;
$fg-disabled: functions.toRGB(color.adjust($color: material-colors.$on_background, $lightness: -11%));
