@use "sass:color";
@use "./wal";
@use "./functions" as funs;

.control-center-container {
  background: rgba(wal.$background, .65);
  border-radius: 24px;
  padding: 20px 14px;

  & > box {
    margin: 9px;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  & .quickactions {
    & .hostname {
      font-size: 15px;
      font-weight: 600;
    }

    & .uptime {
      font-size: 12px;
    }

    & .button-row {
      & button {
        padding: 7px;
        margin: {
          top: 2px;
          bottom: 2px;
        };
      }
    }
  }

  & .sliders {
    padding: 2px 6px;

    & > box {
      margin: 8px 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .icon.nf {
      margin-right: 8px;
      font-size: 15px;
    }

    trough {
      background: funs.toRGB(color.adjust($color: wal.$color1, $lightness: -20%));
      border-radius: 8px;
    }

    trough highlight {
      background: wal.$color1;
      border-top-left-radius: inherit;
      border-bottom-left-radius: inherit;
    }

    trough slider {
      min-width: 1.2em;
      min-height: 1.2em;
      border-radius: 50%;
      margin: -3px 0;
      background: wal.$foreground;
      margin-left: -1px;
    }
  }
}
