@use "./colors";
@use "./mixins";

.floating-notifications-container {
  padding: {
    right: 6px;
    top: 6px;
  };

  & revealer {
    padding: 6px;

    & > .notification {
      box-shadow: 0 0 4px .5px colors.$bg-translucent;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
